/*Generales*/
* {
    margin: 0;
    font-family: 'Arial', serif;
}

body {
    background: linear-gradient(to right, #2c3e50, #3498db);
}


header {
    display: flex;
    justify-content: space-between;
}

.header__container--titulo{
    color: white;
    display: flex;
    font-size: 1.8rem;
}

.header__container--info{
    display: flex;
}

.header__container--info-score{
    font-size: 2.8rem;
    margin-top: 13px;
    margin-right: 100px;
}

.header__container--info-level{
    font-size: 2.8rem;
    margin-top: 13px;
    margin-right: 100px;
}

/*Gameboard*/

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    /* padding-bottom: 35px; */
    padding-bottom: 40px;
}
.section__gameboard{
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.celeste {
    background: #22a6b3;
}

.celeste.light {
    background: #7ed6df;
}

.violeta {
    background: #be2edd;
}

.violeta.light {
    background: #e056fd;
}

.naranja {
    background: #f0932b;
}

.naranja.light {
    background: #ffbe76;
}

.verde {
    background: #6ab04c;
}

.verde.light {
    background: #badc58;
}

.btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 140px);
    left: calc(50% - 200px);
}

.hide {
    display: none;
}

header {
    display: flex;

}

